* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  /* width: 100vw; */
  /* background-image: radial-gradient(blue, red); */
  overflow: hidden;
  /* display: flex; */
  margin: auto;
}

.container {
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  /* margin: auto; */
}

.main-wrap {
  border: 3px solid black;
  height: 95%;
  width: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: white;
}

.portfolio {
  width: 75vw;
  height: 80vh;
  margin: auto;
  padding-top: 15px;
}

.nav {
  text-align: center;
  margin: 6% auto 0% auto;
  max-width: 75vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px red;
}

a {
  font-size: 24px;
  font-family: serif;
  color: red;
  text-decoration: none;
  letter-spacing: -.65px;
}

a:hover {
  color: blue;
  font-style: italic;
  cursor: help;
}

@media screen and (orientation:portrait) {}

@media screen and (max-device-width:850px) and (orientation:landscape) {}

/* body {
    display:flex;
    flex-direction: row;
  }

  .container {
    width:100%;
    height:100%;
    position:absolute;
  } */
/* iframe {
    -moz-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        -ms-transform:rotate(-90deg);
        transform: rotate(-90deg);
  } */
